@font-face {
    font-family: 'DanganFont';
    src: url('/resources/fonts/platform_eight.ttf') format('truetype');
}

.ft-dangan { font-family: 'DanganFont'; }

body {
    background-image: url("../../public/img/backGround.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white !important;
}

.vertical-navbar {
    position: sticky;
    top: 0;
    width: 85%;
    height: 100vh;
    background-color: black;
    border-right: solid 1px #3F0D12;
}

.navbar-icons-container {
    width: min-content;
}

.navbar-icon {
    display: block;
    color: white !important;
    font-size: 28px !important;
    margin-top: 1.5em;
    border-bottom: 2px solid transparent;
    border-radius: 2px;

    &:active {
        border-color: transparent !important;
    }

    &:hover {
        border-bottom-color: white;
        transition: border-bottom-color 0.5s;
    }

    img {
        max-width: unset;
    }

    * {
        display: table;
        margin: 5px auto;
    }
}